.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 216px;
  display: block;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--brand-color);

  transition-property: background-color;

  @include transition;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
