.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.accent {
  color: var(--brand-color);
}

.navigation-list,
.adress-top {
  display: flex;
  gap: 50px;
}

.adress-top {
  margin-left: auto;

  &-link {
    color: var(--second-color);
  }

  &-link {
    display: flex;
    align-items: center;
  }

  &-icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.navigation-link,
.adress-top-link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;

  @include transition;

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.navigation-link {
  color: var(--main-color);
}

.current {
  color: var(--brand-color);

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
  }
}
