.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--main-color);

  transition-property: background-color, box-shadow, color;
  
  @include transition;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.works-example {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &-item {
    width: calc((100% - 60px) / 3);
    transition-property: box-shadow;
    
    @include transition;
  }

  &-item:hover .works-example-text-top {
    transform: translateY(0);
  }

  &-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--second-color);
  }

  &-info {
    padding: 20px;

    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  &-wrap {
    position: relative;
    overflow: hidden;
  }

  &-text-top {
    position: absolute;
    top: 0;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    width: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
