.social-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, color;
  

  @include transition;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--brand-color);
  }
}
