@mixin transition($params...) {
  transition-property: $params;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desctop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin grid($indent: 30px) {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}

@mixin grid-item($items: 1, $indent: 30px) {
  flex-basis: calc((100% - $indent * ($items - 1)) / $items);
}
